<!DOCTYPE html>
<html>

<head>
  <title>DOM PDF</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag 'index' %>
</head>

<body>
  <div class="page cover-wrapper page-break">
    <div class="title-wrapper">
      <div class="title">
        <p class="light">Ihr persönliches</p>
        <p class="bold">Ergebnis von BetterDoc</p>
      </div>
    </div>
    <%= image_tag "logo.png", alt: "logo", class: "logo" %>
  </div>

  <div class="page page-wrapper page-break">
    <table class="header">
      <tr>
        <td class="left">
          <%= Time.now.strftime('%d.%m.%Y.') %>
        </td>
        <td class="right">
          Fallnummer: APGW-P3W7-4N0X
        </td>
      </tr>
    </table>
    <h2>Ihr persönliches Ergebnis</h2>
    <p>
      <b>Im Folgenden stellen wir Ihnen zwei/drei/vier Ärzte/Spezialisten vor, die ihren Schwerpunkt im Bereich XYZ</b> <i>(z.B. konservative Orthopädie und Schmerzmedizin, Erkrankungen der Speiseröhre, etc.)</i> <b>haben und für die Beratung und Behandlung in Ihrer Situation qualifiziert sind.</b>
    </p>
    <p>
      Die Auswahl basiert auf Ihren Angaben und wurde für Ihre Situation <b>individuell</b> recherchiert. Dabei agiert BetterDoc <b>unabhängig</b> und verzichtet bewusst auf vertragliche Bindungen zu Ärzten.
    </p>
    <p>
      Einige medizinische Begriffe sind mit einer Zahl gekennzeichnet. Diese werden auf der letzten Seite im Glossar erläutert.
    </p>
    <table class="section-1">
      <tr>
        <td>
          <%= image_tag "headshot.png", alt: "headshot", class: "headshot" %>
        </td>
        <td>
          <h3>Ihre Mithilfe ist gefragt!</h3>
          <p>Helfen Sie anderen Menschen mit ähnlichen Gesundheitsanliegen dabei, die beste medizinische Versorgung zu erhalten. Teilen Sie uns einfach Ihre Erfahrungen beim Spezialisten mit. Nur so können wir uns stetig verbessern und den Qualitätsstandard hoch halten. Wir übermitteln Ihnen dazu einen Fragebogen. Wir bedanken uns schon jetzt für Ihr wertvolles Feedback.</p>
          <p><b>Dr. med. Donata von Dellingshausen</b></p>
          <p>Gründerin und medizinische Leiterin von BetterDoc</p>
        </td>
      </tr>
    </table>
    <table class="section-2">
      <tr>
        <td colspan="2">
          <span class="table-title">Haben Sie noch Fragen?</span>
          <span>Zögern Sie nicht, uns zu kontaktieren!</span>
        </td>
      </tr>
      <tr>
        <td>0800 444 6 999 (gebührenfrei)</td>
        <td>
          <a href="https://betterdoc.org">www.betterdoc.de</a>
        </td>
      </tr>
      <tr>
        <td>aerzte-team@betterdoc.de</td>
        <td>Häufige Fragen: <a href="https://betterdoc.org/faq">www.betterdoc.de/faq</a></td>
      </tr>
    </table>
    <h3>Abrechnungskosten</h3>
    <p>
      Die Kostenübernahme der Behandlung bei einem der genannten Spezialisten erfolgt - wie bei jedem anderen Arztbesuch auch - im Rahmen des Leistungsumfangs Ihrer gesetzlichen Krankenkasse (Abrechnung über Ihre Gesundheitskarte) oder Ihrer privaten Krankenversicherung (Erstattung der eingereichten Rechnung). Sollten Sie Fragen oder Unsicherheiten bezüglich der Kostenübernahme haben, klären Sie diese bitte direkt mit Ihrer Krankenkasse/-versicherung.
    </p>
  </div>

  <div class="page page-wrapper page-break">
    <table class="header">
      <tr>
        <td class="left">
          Ihre Ergebnisse im Überblick
        </td>
        <td class="right">
          Fallnummer: APGW-P3W7-4N0X
        </td>
      </tr>
    </table>
    <h2>Ihre Ergebnisse im Überblick</h2>
    <% @medics.each_with_index do |medic, index| %>
      <div>
        <h3><%= index + 1 %>. Für eine Behandlung</h3>
        <h3><%= medic[:title] %></h3>
        <table class="medic-wrapper">
          <tr>
            <td rowspan="3">
              <img class="medic-icon" src="data:image/svg+xml;base64,<%= Base64.encode64(render partial: "svgs/medic") %>">
            </td>
            <td>
              <p>Adresse</p>
              <p><b><%= medic[:address] %></b></p>
            </td>
            <td>
              <p>Fachgebiet</p>
              <p><b><%= medic[:specialty] %></b></p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Entfernung</p>
              <p><b><%= medic[:distance] %></b></p>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <% if medic[:patient_feedback].present? %>
                <p>Patientenfeedback</p>
                <p><b><%= medic[:patient_feedback] %></b></p>
              <% end %>
            </td>
            <td></td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>

  <% @medics.each_with_index do |medic, index| %>
    <div class="page page-wrapper page-break">
      <table class="header">
        <tr>
          <td class="left">
            Ergebnis <%= index + 1 %> von 3
          </td>
          <td class="right">
            Fallnummer: APGW-P3W7-4N0X
          </td>
        </tr>
      </table>
      <h2>Für eine Behandlung</h2>
      <table class="medic-page-wrapper">
        <tr>
          <td>
            <img class="medic-icon" src="data:image/svg+xml;base64,<%= Base64.encode64(render partial: "svgs/medic") %>">
          </td>
          <td>
            <h3><%= medic[:title] %></h3>
            <p>
              Gemeinschaskrankenhaus St. Elisabeth/St. Petrus./St. Johannes
              GmbH Haus St. Petrus -<br />
              Anästhesie, Intensivmedizin und Schmerztherapie<br />
              Bonner Talweg 4-6<br />
              DE 53113 Bonn
            </p>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="medic-footer">Tel: <b>+49 228 5062265</b> <span class="gap-left">Allgemeinsprechstunde</span></div>
          </td>
        </tr>
      </table>

      <div class="my-spacer">
        <h3 class="highlight">Informaonen zum Arzt</h3>
        <table>
          <tr>
            <td>Dr. med. Mohamed Hashemian ist Facharzt für <span class="highlight">Anästhesiologie</span></td>
            <td>Er ist täg als <span class="highlight">Assistenzarzt / Assistenzärzn</span></td>
          </tr>
        </table>
      </div>

      <% if index == 2 %>
        <div class="my-spacer">
          <h3 class="highlight">Persönliche Zerfikate</h3>
          <ul>
            <li>
              <div>
                <h4>Hauptoperateur oder Hauptoperateurin (endoCert)</h4>
                <p>Sie können sich nach vorheriger telefonischer Terminvereinbarung in der Sprechstunde
von Dr. med. Mohamed Hashemian vorstellen.</p>
              </div>
            </li>
          </ul>
        </div>
        <div class="my-spacer">
          <h3 class="highlight">Das sagen unsere Paenten und Paennnen über Volker Hambloch</h3>
          <table class="table-gap-2">
            <tr>
              <td>
                <span class="pill">10/10 Punkte</span>
              </td>
              <td>
                <span>„Sehr professionelle Durchführung und Nachbetreuung in der Klinik.“</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="pill">10/10 Punkte</span>
              </td>
              <td>
                <span>„Bisher nur posive Erfahrungen.“</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="pill">0/10 Punkte</span>
              </td>
              <td>
                <span>„Der Ablauf war unprofessionell.“</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="pill">9/10 Punkte</span>
              </td>
              <td>
                <span>„Keine Angaben.“</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="pill">9/10 Punkte</span>
              </td>
              <td>
                <span>„Sachliche Beratung und Vorschlag zur Lösung des Problems.“</span>
              </td>
            </tr>
          </table>
        </div>
      <% end %>

      <div class="highlighted-section">
        <h3>Informaonen zur Klinik / Abteilung / Praxis</h3>
        <p><b>Weiterführende Informaonen</b></p>
        <ul>
          <li>Sie können sich nach vorheriger telefonischer Terminvereinbarung in der Sprechstunde
von Dr. med. Mohamed Hashemian vorstellen.</li>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="page page-wrapper page-break">
    <table class="header">
      <tr>
        <td class="left">
          Glossar
        </td>
        <td class="right">
          Fallnummer: APGW-P3W7-4N0X
        </td>
      </tr>
    </table>

    <h2>Glossar</h2>
    <h3>1. endoCert</h3>
    <p>Die endoCert-lniave soll eine qualitav hochwerge Durchführung endoprothescher Eingriffe sicherstellen. Auf der Seite der Iniave (hps://www.endomap.de/) können Sie über die Suchfunkon außerdem weitere für die jeweilige Klinik zerfizierte Ärznnen und Ärzte einsehen.</p>
  </div>


  <footer>
    <span class="right page-number"></span>
  </footer>
</body>

</html>